.black-margin {
    border: 1px solid black;
    padding: 8px;
}

img {
    float: left;
    margin-right: 11px;
}

p {
    margin-left: 11px;
}

.div-3-style {
    position: fixed;
    top: 114px;
    left: 114px;
    width: 435px;
    height: 435px;
    cursor: pointer;
    background-color: dimgrey;
    margin: 10px;
}

.div-3-style:active {
    display: none;
}

.div-3-style:hover {
    color: crimson;
}